body {
	background-color: grey;
}

.header {
	background-color: #8B5742;
	height: 100px;
	border-radius: 25px;
	padding: 100px;
	margin-bottom: 20px;
	font-size: 120px;
	text-align: center;
	font-family: "Ceviche One";
	margin-left: 25%;
	margin-right: 25%;


}

.goldImageStyle {
	position: absolute;
	width: 20px;
	height: 20px;
}

.mapImage {
	position: relative;
}

.noteStyle {
	position: absolute;
}
