body {
	background-color: grey;
}

.header {
	background-color: #8B5742;
	border-radius: 25px;
	margin-bottom: 20px;
	font-size: 120px;
	text-align: center;
	font-family: "Ceviche One";
	margin-left: 35%;
	margin-right: 35%;


}

.goldImageStyle {
	position: absolute;
	width: 20px;
	height: 20px;
}

.mapImage {
	position: relative;
}

.noteStyle {
	position: absolute;
}

.instructions {
	border-radius: 25px; 
	font-family: "Ceviche One";
	background-color: #CFB53B;
	margin-right: 30%;
	margin-left: 30%;
	text-align: center;
	font-size: 36px;
}
